[[!meta title="Install from Mac using the command line: overview"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/mac-usb" rel="stylesheet" title=""]]

[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

<div id="back">[[Back|install/mac]]</div>

<h1 class="text-center">Install from <strong>Mac</strong> <small>using the command line</small></h1>

[[!inline pages="install/inc/overview" raw="yes"]]

[[
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Let's go!</h3>
  </div>
</div>
|install/mac/usb]]

<div class="clearfix"></div>
