[[!meta title="Which operating system are you installing Tails from?"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet"]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!inline pages="install/inc/tails-installation-assistant.inline" raw="yes"]]

<div id="back">[[Back|install]]</div>

<h1>Which <strong>operating system</strong> are you installing Tails from?</h1>

<div class="row">
  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Windows</h3>
        </div>
      </div>
    |install/win]]
  </div>

  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Mac OS X</h3>
        </div>
      </div>
    |install/mac]]
  </div>

  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Debian, Ubuntu, or Mint</h3>
        </div>
      </div>
    |install/debian]]
  </div>

  <div class="col-md-6">
    [[
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title two-lines">Other Linux<br /><small>(Red Hat, Fedora, etc.)</small></h3>
        </div>
      </div>
    |install/linux]]
  </div>
</div>
