[[!meta title="News"]]
<!-- Changing this title breaks the test suite. See #12134#note-7. -->

[[!meta robots="noindex"]]

<div id="tor_check">
<a href="https://check.torproject.org/">
[[!img "lib/onion.png" link="no"]]
<!-- Note for translators: You can use <span class="twolines"> if your
translation of the label below is long and gets split into two lines. -->
<span>Tor check</span>
</a>
</div>

[[!inline pages="news" raw="yes"]]
